{% extends 'rate_the_game_app/base.html' %}
{% load staticfiles %}
<script	type="text/javascript" src="form_verify.js"></script>
{% block title_block %}
	Review Creation form:
{% endblock %}

{% block body_block %}
	<form id="add_review_form" method="post" onsubmit="return validate_form(this)" action="/rate_the_game_app/category/<slug:category_name_slug>/<slug:game_name_slug>/add_review/">
	{% csrf_token %}
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields %}
		{{ field.errors }}
		{{ field.help_text }}
		{{ field }}
	{% endfor %}
	<input type="submit" name="submit" value="Add Review" />
	</form>
{% endblock %}