{% extends 'rate_the_game_app/base.html' %}
{% load staticfiles %}
<script	type="text/javascript" src="form_verify.js"></script>
{% block title_block %}
	Add a Game to our Libary
{% endblock %}

{% block body_block %}
<div class="bg-secondary rounded" style="margin:auto; width:50%; border:3px; padding: 30px; margin-bottom: 50px; margin-top:50px; box-shadow: 5px 10px;">
	<form id="add_game_form" method="post"onsubmit="return validate_form(this)" action="/rate_the_game_app/category/{{ category.slug }}/add_game/">
	{% csrf_token %}
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}
	<input class="rounded-pill" type="submit" name="submit" value="Submit" />
	</form>
</div>
{% endblock %}