{% extends 'rate_the_game_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Category
{% endblock %}

{% block body_block %}
	{% if category %}
	<h1>{{ category.name }}</h1>
		{% if games %}
		<ul>
			{% for game in games %}
			<li><a href="rate_the_game_app/{{ category.slug }}/{{ game.slug }}/">{{ game.title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>No games currently in this category.</strong>
		{% endif %}
		{% if user.is_authenticated %}
				<a href="{% url 'rate_the_game_app:add_game' category.slug %}">Add Game</a> <br />
		{% endif %}
	{% endif %}
	
{% endblock %}