{% extends 'rate_the_game_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Game Page
{% endblock %}

{% block body_block %}
	{{ game.title }}
	{% if game %}
	<h1>{{ game.name }}</h1>
		<h2>Game reviews</h2>
		{% if reviews %}
		<ul>
			{% for review in reviews %}
			<li>Username: {{ review.user }}</li>
			<li>Score given: {{ review.score }}/5</li>
			<li>Comment: {{ review.comment }}</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>No reviews have been made for this game.</strong>
		{% endif %}
		{% if user.is_authenticated %}
				<a href="{% url 'rate_the_game_app:add_review' game.slug %}">Add Review</a> <br />
		{% else %}
		You must be logged in to make a review.
		{% endif %}
	{% endif %}
{% endblock %}