{% extends 'rate_the_game_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Game Page
{% endblock %}

{% block body_block %}
	{% if curGame %}
	<div class="bg-secondary rounded" style="margin:auto; width:50%; border:3px; padding: 80px; margin-top:50px; margin-bottom: 50px; box-shadow: 5px 10px;">
	<h1>{{ curGame.title }}</h1>
		<h2>Game reviews...</h2> </br>
		{% if reviews %}
			<ul>
				{% for review in reviews %}
				<div class="bg-info rounded" style="margin:auto; margin-bottom:15px; border:3px; padding: 3px; box-shadow: 5px 10px;">
					<strong>Username: {{ review.user }} | Score given: {{ review.score }}/10</strong><br />
					Comment:
					<div class="bg-white rounded" style="margin:auto; border:3px; padding: 3px;">
						{{ review.comment }}
					</div>
				</div>
				{% endfor %}
			</ul>
		{% else %}
		<strong>No reviews have been made for this game.</strong>
		{% endif %}
		
		{% if user.is_authenticated %}
		<a href="{% url 'rate_the_game_app:add_review' curGame.slug category.slug %}">
		<button type="button" class="btn btn-primary mr-1  btn-lg active text-center" aria-pressed="true" aria-label="Left Align" >
			Make Review
			<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
		</a>
		{% endif %}
		
	{% endif %}
	</div>
{% endblock %}