{% extends 'rate_the_game_app/base.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}

{% block body_block %}
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .main {
    width: 50%;
    margin: 50px auto;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

</style> 
<img src="{% static 'images/RTGlogo1.png' %}" alt="R > T > G" height=200 class="width:50%" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="action_page.php" style="margin:auto;max-width:500px">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
{% endblock %}