{% extends 'rate_the_game_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Account
{% endblock %}

{% block body_block %}
<h1 style="text-align:center; color:white; padding:20px">My Rate>The>Game Account</h1>
<br />
<div class="bg-secondary rounded" style="margin:auto; width:50%; border:3px; padding: 30px; margin-bottom: 50px; box-shadow: 5px 10px;">
	<div class="row">
		<div class="col-sm">
			<p class="font-weight-bold" style="font-size:150%;">Username: {{ user.username }}</p>
			<div style="height: 200px;">
				<img src="{{ user.profile.picture.url }}" alt="profile pic" class="img-thumbnail img-fluid mh-100" />
			</div>
		</div>
		
		<div class="col-sm">
			<h2>My Reviews</h2>
			{% if reviews %}
			<ul>
				{% for review in reviews %}
				<div class="bg-info rounded" style="margin:auto; margin-bottom:15px; border:3px; padding: 3px; box-shadow: 5px 10px;">
					<strong>Game: {{ review.game }} | Score given: {{ review.score }}/5</strong></br>
					Comment:
					<div class="bg-white rounded" style="margin:auto; border:3px; padding: 3px;">
						{{ review.comment }}
					</div>
				</div>
				{% endfor %}
			</ul>
			{% else %}
				<strong>You haven't written any reviews yet!.</strong>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}